# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.venv
env/
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Reports
reports/

# Docker
.docker/

# Node
node_modules/

# Blockchain
src/blockchain/deployment.json
src/blockchain/*_abi.json

# OS specific
.DS_Store
Thumbs.db
